Checks: clang-diagnostic-*,clang-analyzer-*,bugprone-*,readability-*,performance-*, cppcoreguidelines-*, -cppcoreguidelines-avoid-magic-numbers, -cppcoreguidelines-pro-bounds-constant-array-index, modernize-make-shared, modernize-make-unique, modernize-concat-nested-namespaces, modernize-use-override, -bugprone-exception-escape, misc-unused-parameters, -readability-magic-numbers