---
BasedOnStyle: Google
BreakBeforeBraces: Custom
BraceWrapping:
  AfterEnum: true
  AfterClass: true
  AfterStruct: true
  AfterUnion: true
  AfterFunction: true
  AfterNamespace: true
  AfterExternBlock: true
  BeforeCatch: true
IndentWidth: 4
TabWidth: 4
AccessModifierOffset: '-4'
AllowAllConstructorInitializersOnNextLine: 'true'
PointerAlignment: Left
AlwaysBreakTemplateDeclarations: 'true'
UseTab: Never
IndentCaseLabels: false
...
