[url "git@github.com:"]
    insteadOf = https://github.com/

[user]
	email = bodgergely@hotmail.com
	name = Gergely Bod

[merge]
	tool = vimdiff
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
	add-commit = !git add -A && git commit
